<header class="text-gray-700 body-font pb-2">
  <div
    class="
      container
      mx-auto
      flex flex-wrap
      p-5
      flex-col
      md:flex-row
      items-center
    "
  >
    <a
      class="
        flex
        title-font
        font-medium
        items-center
        text-gray-900
        mb-4
        md:mb-0
      "
      href="/"
    >
      <span class="ml-3 text-xl">Vineet Ranjan</span>
    </a>
    <nav
      class="
        md:ml-auto
        flex flex-wrap
        items-center
        text-lg
        justify-center
        font-serif
        italic
      "
    >
      <a class="mr-5 hover:text-gray-900" href="/">Home</a>
      <a class="mr-5 hover:text-gray-900" href="/about">About Me</a>
      <a class="mr-5 hover:text-gray-900" href="/projects">Projects</a>
      <a class="mr-5 hover:text-gray-900" href="/contact">Contact Me</a>
      <a
        class="mr-5 hover:text-gray-900"
        target="_blank"
        rel="noopener"
        href="https://downthe.codes/"
        >Blog</a
      >
    </nav>
  </div>
</header>
